name: Trigger Dataplane Test

on:
  workflow_dispatch:
  pull_request_review:
    types: [submitted]
  push:
    branches:
      - master
      - pre_merge

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger dataplane test workflow
        env:
          GH_TOKEN: ${{ secrets.C3PO_ACCESS_TOKEN }}
        run: |
          gh workflow run test.yml \
            --repo Observo-Inc/dataplane-build \
            --ref main \
            -f git_ref=${{ github.ref }}
