name: Test Suite

on:
  pull_request_review:
    types: [submitted]
  push:
    branches: [master]
  workflow_dispatch:    

env:
  RUST_BACKTRACE: full
  TEST_LOG: vector=debug
  PROFILE: debug
  VERBOSE: true
  CI: true
  DISABLE_MOLD: true
  DEBIAN_FRONTEND: noninteractive
  CONTAINER_TOOL: docker
  GH_ACCESS_TOKEN: ${{ secrets.C3PO_ACCESS_TOKEN }}

jobs:
  test:
    if: github.event.review.state == 'approved'
    name: Unit - x86_64-unknown-linux-gnu
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Checkout Vector
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git_ref }}
      - name: update git config
        run: |
          git config --global user.name "c3po007"
          git config --global user.email "obserbot007@gmail.com"
          git config --global url."https://c3po007:${GH_ACCESS_TOKEN}@github.com/Observo-Inc/vrl.git".insteadOf "ssh://git@github.com/Observo-Inc/vrl.git"
      - name: Bootstrap runner environment (generic)
        run: bash scripts/environment/observo-prepare.sh
      - name: Bootstrap ubuntu env
        run: sudo -E bash scripts/environment/bootstrap-ubuntu-20.04.sh
      - name: Run Vector tests
        run: make test
      - name: Run VRL tests
        run: make test-vrl
